<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
  <div class="grid grid-cols-2 gap-4">
    <!-- Name -->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Enter superhero name"
      />
      <mat-error *ngIf="form.controls['name'].errors?.['required']">
        Name is required.
      </mat-error>
    </mat-form-field>

    <!-- Image URL-->
    <mat-form-field appearance="fill" formGroupName="images">
      <mat-label>Image URL</mat-label>
      <input
        matInput
        formControlName="lg"
        placeholder="Enter image URL (optional)"
      />
      <!--<mat-error *ngIf="form.controls['image'].errors?.['pattern']">
        Please enter a valid URL.
      </mat-error>-->
    </mat-form-field>

    <div formGroupName="appearance" class="w-full flex flex-col">
      <!-- Gender -->
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">{{
            gender
          }}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="form.get('appearance')!.get('gender')!.errors?.['required']"
        >
          Gender is required.
        </mat-error>
      </mat-form-field>

      <!-- Race -->
      <mat-form-field appearance="fill">
        <mat-label>Race</mat-label>
        <input
          matInput
          formControlName="race"
          placeholder="Enter superhero race"
        />
        <mat-error
          *ngIf="form.get('appearance')!.get('race')!.errors?.['required']"
        >
          Race is required.
        </mat-error>
      </mat-form-field>
      <!-- Height -->
      <mat-form-field appearance="fill">
        <mat-label>Height (e.g., 180 cm)</mat-label>
        <input
          type="number"
          matInput
          formControlName="height"
          placeholder="Enter height"
        />
        <mat-error
          *ngIf="form.get('appearance')!.get('height')!.errors?.['required']"
        >
          Height is required.
        </mat-error>
        <mat-error
          *ngIf="form.get('appearance')!.get('height')!.errors?.['min'] || form.get('appearance')!.get('height')!.errors?.['max']"
        >
          Height must be greater than 0 and less than 300.
        </mat-error>
      </mat-form-field>

      <!-- Weight -->
      <mat-form-field appearance="fill">
        <mat-label>Weight (e.g., 75 kg)</mat-label>
        <input
          type="number"
          matInput
          formControlName="weight"
          placeholder="Enter weight"
        />
        <mat-error
          *ngIf="form.get('appearance')!.get('weight')!.errors?.['required']"
        >
          Weight is required.
        </mat-error>
        <mat-error
          *ngIf="form.get('appearance')!.get('weight')!.errors?.['min'] || form.get('appearance')!.get('weight')!.errors?.['max']"
        >
          Weight must be greater than 0 and less than 500.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Powerstats Slider -->
    <div
      *ngFor="let slider of sliders"
      class="w-full"
      formGroupName="powerstats"
    >
      <mat-card>
        <mat-card-content class="flex">
          <div class="flex w-full">
            <div class="w-1/2 flex items-center">
              <mat-icon>{{ slider.icon }}</mat-icon>
              <span class="ml-1">{{ slider.name | titlecase }}</span>
            </div>

            <mat-slider
              class="w-1/2 flex items-center"
              min="0"
              max="100"
              step="1"
              thumbLabel
              tickInterval="10"
              ><input matSliderThumb formControlName="{{ slider.name }}" />
            </mat-slider>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="flex justify-end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </div>
</form>
