<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="4" rowHeight="2:1">
    <!-- Name -->
    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill" class="w-full p-2">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Enter superhero name"
        />
        <mat-error *ngIf="form.controls['name'].errors?.['required']">
          Name is required.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Image URL -->
    <div formGroupName="images">
      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill" class="w-full p-2">
          <mat-label>Image URL</mat-label>
          <input
            matInput
            formControlName="lg"
            placeholder="Enter image URL (optional)"
          />
          <mat-error *ngIf="form.get(['images', 'lg'])!.errors?.['pattern']">
            Invalid URL, ends in .jpg, .webp, .png, .bmp or .svg?
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </div>

    <!-- Gender -->
    <mat-grid-tile colspan="2" [formGroupName]="'appearance'">
      <mat-form-field appearance="fill" class="w-full p-2">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option
            *ngFor="let gender of genders; trackBy: trackByGender"
            [value]="gender"
            >{{ gender }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="form.get(['appearance', 'gender'])!.errors?.['required']"
        >
          Gender is required.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Race -->
    <mat-grid-tile colspan="2" [formGroupName]="'appearance'">
      <mat-form-field appearance="fill" class="w-full p-2">
        <mat-label>Race</mat-label>
        <input
          matInput
          formControlName="race"
          placeholder="Enter superhero race"
        />
        <mat-error
          *ngIf="form.get(['appearance', 'race'])!.errors?.['required']"
        >
          Race is required.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Height -->
    <mat-grid-tile colspan="2" [formGroupName]="'appearance'">
      <mat-form-field appearance="fill" class="w-full p-2">
        <mat-label>Height (e.g., 180 cm)</mat-label>
        <input
          type="number"
          matInput
          formControlName="height"
          placeholder="Enter height"
        />
        <mat-error
          *ngIf="form.get(['appearance', 'height'])!.errors?.['required']"
        >
          Height is required.
        </mat-error>
        <mat-error
          *ngIf="form.get(['appearance', 'height'])!.errors?.['min'] || form.get(['appearance', 'height'])!.errors?.['max']"
        >
          Height must be between 1 and 300 cm.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Weight -->
    <mat-grid-tile colspan="2" [formGroupName]="'appearance'">
      <mat-form-field appearance="fill" class="w-full p-2">
        <mat-label>Weight (e.g., 75 kg)</mat-label>
        <input
          type="number"
          matInput
          formControlName="weight"
          placeholder="Enter weight"
        />
        <mat-error
          *ngIf="form.get(['appearance', 'weight'])!.errors?.['required']"
        >
          Weight is required.
        </mat-error>
        <mat-error
          *ngIf="form.get(['appearance', 'weight'])!.errors?.['min'] || form.get(['appearance', 'weight'])!.errors?.['max']"
        >
          Weight must be between 1 and 500 kg.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Powerstats Sliders -->
    <mat-grid-tile
      *ngFor="let powerStat of powerStats; trackBy: trackByPowerStatName"
      colspan="2"
      [formGroupName]="'powerstats'"
    >
      <mat-card class="w-full m-2">
        <mat-card-content class="!flex">
          <div class="w-1/2 flex items-center">
            <mat-icon>{{ powerStat.icon }}</mat-icon>
            <span class="ml-1">{{ powerStat.name | titlecase }}</span>
          </div>

          <mat-slider
            class="!w-1/2"
            min="0"
            max="100"
            step="1"
            thumbLabel
            tickInterval="10"
          >
            <input matSliderThumb formControlName="{{ powerStat.name }}" />
          </mat-slider>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="flex justify-end mt-4">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </div>
</form>
