<article
  class="bg-white overflow-hidden shadow-lg transform transition duration-300 ease-in-out hover:scale-105 cursor-pointer rounded-b-xl"
  (click)="navigateToEdit()"
>
  <img
    [src]="superHero.images.lg"
    alt="{{ superHero.name }} Image"
    class="w-full h-64 object-cover"
    loading="lazy"
  />
  <div class="p-4">
    <h2 class="text-2xl font-bold mb-2 text-center">
      {{ superHero.name | titlecase }}
    </h2>
    <div class="power-stats grid grid-cols-2 gap-4">
      <div *ngFor="let stat of powerStats" class="stat-item">
        <div class="flex items-center space-x-2">
          <mat-icon class="text-base">{{ stat.icon }}</mat-icon>
          <span class="font-medium text-sm">{{ stat.name }}</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full">
          <div
            class="bg-blue-500 h-2 rounded-full"
            [style.width]="stat.value + '%'"
          ></div>
        </div>
      </div>
    </div>
  </div>
</article>
